<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Categories | Perfect Palate</title>
    <link rel="shortcut icon" href="/static/admin/img/favicon.ico">
    <link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/admin/css/smoothproducts.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/admin/categories">Perfect Palate</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/myrecipe">My Recipes</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/index">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page service-page">
        <section class="clean-block clean-services dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Welcome Chef</h2>
                    <p>Browse through the categories of recipe shared by other chef's around the world.</p>
                </div>
                <div class="row">
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top w-100 d-block" src="/static/admin/img/scenery/pille-riin-priske-BgvvOFEcHjg-unsplash.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Indian</h4>
                                <p class="text-center card-text">Indian cuisine has intoxicating aromas, fresh blend of spices and rich ingredients that make it unique and special. The appeal of Indian cuisine is not just limited to Indians. Millions of people across the globe love it.</p>
                            </div>
                            <div>
                                <%var str="Indian"%>
                                <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipe?id=<%=str%>'">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top w-100 d-block" src="/static/admin/img/scenery/pexels-polina-tankilevitch-4109532.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Continental</h4>
                                <p class="text-center card-text">Continental cuisine comprises the cuisines of Europe including the cuisines brought to other countries by European settlers and colonists. Ingredients include mainly cheese, thyme, rosemery, oregano and most important olive oil.</p>
                            </div>
                            <div>
                                <%var str1="Continental"%>
                                <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipe?id=<%=str1%>'">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top w-100 d-block" src="/static/admin/img/scenery/pexels-senuscape-2313686.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Korean</h4>
                                <p class="text-center card-text">Korean food is mostly made up of rice, noodles, vegetables, and meats. along with their steam-cooked rice. Sesame oil, soy sauce, salt, garlic, ginger and pepper are ingredients that are often used in the food.<br></p>
                            </div>
                            <div>
                                <%var str2="Korean"%>
                                <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipe?id=<%=str2%>'">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card">
                            <img class="card-img-top w-100 d-block" src="/static/admin/img/scenery/pexels-cats-coming-1907228.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Chinese</h4>
                                <p class="text-center card-text">This food comes from many different parts of China and also the food made by Overseas Chinese. Important parts of Chinese food are rice, soy sauce, noodles, tea, and tofu. The prominent cuisines in China are Anhui, Szechuan, and Zhejiang.<br></p>
                            </div>
                            <div>
                                <%var str3="Chinese"%>
                                <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipe?id=<%=str3%>'">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="/static/admin/img/scenery/pexels-pixabay-162993.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Thai</h4>
                                <p class="text-center card-text">Thai cuisine was influenced by Indian cuisine. Thai people learned how to use spices in their food in various ways from Indians. Today Thai food is its own, with a special unique blend of the 5 tastes: sweet, sour, bitter, salty, and spicy.<br></p>
                            </div>
                            <div>
                                <%var str4="Thai"%>
                                <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipe?id=<%=str4%>'">Learn More</button>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6 col-lg-4">
                        <div class="card"><img class="card-img-top w-100 d-block" src="/static/admin/img/scenery/pexels-rachel-claire-4997799.jpg">
                            <div class="card-body">
                                <h4 class="card-title">Caribbean</h4>
                                <p class="card-text">Caribbean cuisine is a fusion of African, Creole, Cajun, Amerindian, European, Latin American, Indian/South Asian, Middle Eastern, and Chinese. Ingredients may include garlic, onions, scotch bonnet peppers, celery, green onions<br></p>
                            </div>
                            <div>
                                <%var str5="Caribbean"%>
                                <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipe?id=<%=str5%>'">Learn More</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class ="col-md-13 text-center">
                    <p>Have a secret recipe?</p>
                    <button class="btn btn-primary" type="submit" onclick="location.href='/admin/recipereg'">Create your own recipe</button>
                </div>
            </div>
        </section>
    </main>
    <script src="/static/admin/js/jquery.min.js"></script>
    <script src="/static/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/admin/js/smoothproducts.min.js"></script>
    <script src="/static/admin/js/theme.js"></script>
</body>
</html>