<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recipe Page - Perfect Palate</title>
    <link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https:/fonts.googleapis.com/css?family=Lora">
    <link rel="stylesheet" href="/static/admin/fonts/simple-line-icons.min.css">
    <link rel="stylesheet" href="/static/admin/css/Article-Clean.css">
    <link rel="stylesheet" href="https:/cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/admin/css/Review-rating-Star-Review-Button-1.css">
    <link rel="stylesheet" href="/static/admin/css/Review-rating-Star-Review-Button.css">
    <link rel="stylesheet" href="/static/admin/css/smoothproducts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/admin/categories">Perfect Palate</a>
            <button data-toggle="collapse" class="navbar-toggler" data-target="#navcol-1">
                <span class="sr-only">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <li class="nav-item">
                            <a class="nav-link" href="/admin/index">Sign out</a>
                        </li>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page">
        <section class="clean-block features">
            <section class="article-clean"> 
                <div class="container">
                    <div class="row">
                        <div class="col-lg-10 col-xl-8 offset-lg-1 offset-xl-2">
                            <div class="intro">
                                <h1 class="text-center" style="font-family: Montserrat, sans-serif;"><%=recipe_post.recipe%></h1>
                                <div class="rating" style="width: 132px;height: 40px;margin-left: 270px;margin-top: -36px;margin-bottom: 14px;">
                                    <img src="/static/admin/img/star.svg" style="width: 22px;">
                                    <img src="/static/admin/img/star.svg" style="width: 22px;">
                                    <img src="/static/admin/img/star.svg" style="width: 22px;">
                                    <img src="/static/admin/img/star-half-empty.svg" style="width: 22px;">
                                    <img src="/static/admin/img/star-empty.svg" style="width: 22px;">
                                    <p style="margin-left: 144px;margin-bottom: 0px;margin-top: -26px;font-size: 19px;">4/5</p>
                                </div>
                                <p class="text-center" style="margin-top: -6px;margin-left: 0px;"><br>
                                    <span class="by" style="font-family: Montserrat, sans-serif;margin-left: -410px;">Preparation time: <%=recipe_post.prep%></span> <span class="by" style="font-family: Montserrat, sans-serif;">Cooking time: <%=recipe_post.cook%></span></p>
                                <p class="text-center" style="margin-top: -6px;margin-left: 15px;"> 
                                    <span class="by" style="font-family: Montserrat, sans-serif;">Category: <%=recipe_post.recipes%>&nbsp;<span class="by" style="font-family: Montserrat, sans-serif;"></span></span></p>
                                    <img class="img-fluid" src="/static/admin/img/desk.jpg">
                                <div class="rating"></div>
                            </div>
                            <h2 style="font-family: Montserrat, sans-serif;">Ingredients</h2>
                            <h2 style="font-family: Montserrat, sans-serif;margin-right: 0px;margin-left: 417px;margin-top: -46px;width: 354px;">Cooking Instruction</h2>
                            <div class="text">
                                <p style="font-family: Montserrat, sans-serif;width: 251px;height: 248px;"><%=recipe_post.ingredients%>
                                    <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                <p style="font-family: Montserrat, sans-serif;width: 251px;height: 248px;margin-left: 421px;margin-top: -268px;">Sed lobortis mi. Suspendisse vel placerat ligula. 
                                    <span style="text-decoration: underline;">Vivamus</span> ac sem lac. Ut vehicula rhoncus elementum. Etiam quis tristique lectus. Aliquam in arcu eget velit pulvinar dictum vel in justo. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae.</p>
                                <h2 style="font-family: Montserrat, sans-serif;font-size: 28px;font-weight: normal;">Reviews</h2>
                                <h3 style="font-family: Montserrat, sans-serif;font-size: 18px;font-weight: normal;margin-top: 0px;padding-top: 0px;">    
                                  <!-- <% review.forEach(function(review){ %>
                                  <%= review.email%> <br>
                                  <% var rating=review.stars%>
                                  <% for(var i=0;i< rating;i++){ %>
                                        <span style= " color: orange;" class="fa fa-star checked"></span>
                                        
                                 <% } %> -->

                                 
                                  
                                  <!-- <div class="rating" style="width: 128px;height: 20px;margin-left: 0px;margin-top: 0px;margin-bottom: 0px;font-family: Montserrat, sans-serif;font-size: 10px;">
                                    <img src="/static/admin/img/star.svg" style="width: 19px;">
                                    <img src="/static/admin/img/star.svg" style="width: 19px;">
                                    <img src="/static/admin/img/star.svg" style="width: 19px;">
                                    <img src="/static/admin/img/star-half-empty.svg" style="width: 19px;">
                                    <img src="/static/admin/img/star-empty.svg" style="width: 19px;">
                                    </div> -->
                                  <p style="font-family: Montserrat, sans-serif;width: 581px;height: 11px;margin-bottom: 16px;margin-left: 0px;"> <%= review.comment%> </p> 
                                  <br>
                                  
                                  

                                  


                                </h3> 
                                <div class="container">
                                    <div class="row" style="margin-top:40px;">
                                        <div class="col-md-6">
                                        <div class="well well-sm">
                                            <div class="text-right">
                                                <button class="btn btn-success btn-lg" type="submit">Leave a review</button>
                                                <!-- <a class="btn btn-success btn-green" href="#reviews-anchor" id="open-review-box">Leave a Review</a> -->
                                            </div>
                                        
                                            <div class="row" id="post-review-box" style="display:none;">
                                                <div class="col-md-12">
                                                    <form accept-charset="UTF-8" action="" method="post">
                                                        <input id="ratings-hidden" name="rating" type="hidden"> 
                                                        <fieldset class="rating">
                                                            <input type="radio" id="star5" name="stars" value="5" /><label for="star5" >5 stars</label>
                                                            <input type="radio" id="star4" name="stars" value="4" /><label for="star4" >4 stars</label>
                                                            <input type="radio" id="star3" name="stars" value="3" /><label for="star3" >3 stars</label>
                                                            <input type="radio" id="star2" name="stars" value="2" /><label for="star2" >2 stars</label>
                                                            <input type="radio" id="star1" name="stars" value="1" /><label for="star1">1 star</label>
                                                        </fieldset>
                                                        <br>
                                                        <br>
                                                        <textarea class="form-control animated" cols="50" id="new-review" name="comment" placeholder="Enter your review here..." rows="5"></textarea>
                                        
                                                        <div class="text-right">
                                                            <div class="stars starrr" data-rating="0"></div>
                                                            <a class="btn btn-danger btn-sm" href="#" id="close-review-box" style="display:none; margin-right: 10px;">
                                                            <span class="glyphicon glyphicon-remove"></span>Cancel</a>
                                                            <button class="btn btn-success btn-lg" type="submit">Save</button>
                                                        </div>
                                                    </form>
                                                </div>
                                            </div>
                                        </div> 
                                        
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </main>
    <script src="/static//js/jquery.min.js"></script>
    <script src="/static//bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static//js/smoothproducts.min.js"></script>
    <script src="/static//js/theme.js"></script>
    <script src="/static//js/Review-rating-Star-Review-Button.js"></script>
</body>

</html>
