<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
    <title>Recipe - Perfect Palate</title>
    <link rel="stylesheet" href="/static/admin/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat:400,400i,700,700i,600,600i">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.css">
    <link rel="stylesheet" href="/static/admin/css/vanilla-zoom.min.css">
    <link rel="stylesheet" href="/static/admin/css/Review-rating-Star-Review-Button-1.css">
    <link rel="stylesheet" href="/static/admin/css/Review-rating-Star-Review-Button.css">
    <link rel="stylesheet" href="/static/admin/css/smoothproducts.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>

<body>
    <nav class="navbar navbar-light navbar-expand-lg fixed-top bg-white clean-navbar">
        <div class="container">
            <a class="navbar-brand logo" href="/admin/categories">Perfect Palate</a>
            <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1">
                <span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navcol-1">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/admin/index">Sign out</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <main class="page blog-post-list">
        <section class="clean-block clean-blog-list dark">
            <div class="container">
                <div class="block-heading">
                    <h2 class="text-info">Welcome Chef</h2>
                    <p>Browse through the best recipes shared by other chef's around the world.</p>
                </div>
                <div class="block-content">
                    <% recipe_post.forEach(function(r){ %>      
                    <div class="clean-blog-post">
                        <div class="row">
                            <div class="col-lg-5">
                                <img class="rounded img-fluid" src="/static/admin/img/recipe.jpg">
                            </div>
                            <div class="col-lg-7">
                                <h3><%= r.recipe%></h3>
                                <div class="info">
                                    <span class="text-muted"> <%=r.date%> <a href="#"><%=r.name%></a></span>
                                </div>
                                <p><%=r.about%></p>
                                <div class="rating" style="width: 302.656px;height: 57px;">
<<<<<<< Updated upstream
                                    <img src="/static/admin/img/star.svg" style="width: 28px;">
                                    <img src="/static/admin/img/star.svg" style="width: 28px;">
                                    <img src="/static/admin/img/star.svg" style="width: 28px;">
                                    <img src="/static/admin/img/star-half-empty.svg" style="width: 28px;">
                                    <img src="/static/admin/img/star-empty.svg" style="width: 28px;"></div>
                                    <!-- <% var id=r.id %> -->
                                    
                                    <button class="btn btn-outline-primary btn-sm" style="width:70px;" type="button" onclick="location.href='/admin/recipepage?id=<%=r._id%>'">View</button>
=======
                                    <% var rating=r.average_rating/r.count%>
                                        <% var remaining=5-rating.toPrecision(1) %>
                                        <% for(var i=0;i< rating.toPrecision(1);i++){ %>          
                                                <img src="/static/admin/img/star.svg" style="width: 28px;">
                                       <% } %>
                                       <% for(var i=0;i< remaining;i++){ %>          
                                                <img src="/static/admin/img/star-empty.svg" style="width: 28px;">
                                        <% } %>
                                       <br>
                                       <br>
                                    <button class="btn btn-outline-primary btn-sm" type="button" onclick="location.href='/admin/recipepage?id=<%=r._id%>'">View</button>
>>>>>>> Stashed changes
                                                                </div>
                        </div>
                    </div>
                    <% }); %>
                </div>
            </div>
        </section>
    </main>
    <script src="/static/admin/bootstrap/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/baguettebox.js/1.10.0/baguetteBox.min.js"></script>
    <script src="/static/admin/js/vanilla-zoom.js"></script>
    <script src="/static/admin/js/theme.js"></script>
</body>

</html>